@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #2d418e; /* azul oscuro */
    --color-accent: #32b9cc; /* teal/verde */
    --color-accent-dark: #32b9cc;
    --color-light-bg: ##ffffff; /* fondo secciones claras */
  }
}
